---
layout: default
---

<div class="wrapper three-squares">

  {% include threesquares.html %}

</div>

<div class="contact-full parallax-panel" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-150">
  <div class="wrapper contact-content">
    {% include contact.html %}
  </div>
</div>

<div class="bar">bored yet</div>
<div class="blog-full">
    {% include blog.html %}
</div>

<div class="testimonial-full parallax-panel" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-150">
  <div class="wrapper testimonial-content">
    
  </div>
</div>

</div>
