---
layout: default
---

<div class="wrapper three-squares">
  {% include threesquares.html %}
</div>

<a name="contact"></a>
<div class="contact-full parallax-panel" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-150">
  <div class="wrapper contact-content">
    {% include contact.html %}
  </div>
</div>

<a name="blog"></a>
<div class="bar">bored yet?</div>
<div class="blog-full">
    {% include blog.html %}
</div>

<a name="testimonials"></a>
<div class="testimonial-full parallax-panel" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-150">
  {% include testimonials.html %}
</div>

<div class="bar links">want more info?</div>
<div class="links-full">
    {% include links.html %}
</div>