<div class="blog">
	<h1 class="title">latest blog posts</h1>
	<div class="posts"> 
		<section class="wow post fadeInRight first" data-wow-delay="0.3s" data-wow-offset="50" data-wow-duration="1s">
			<div class="square">
				
				<div class="corner-triangle"><span>+</span></div>
				<div class="date"> <span>date</span></div>	
			</div>
			<div class="caption"><span>caption</span><a href="">read more...</a></div>	
		</section>

		<section class="wow post fadeInRight  second" data-wow-delay="0.6s" data-wow-offset="50" data-wow-duration="1s">
			<div class="square">
				
				<div class="corner-triangle"><span>+</span></div>
				<div class="date"> <span>date</span></div>	
			</div>
			<div class="caption"><span>caption</span><a href="">read more...</a></div>	
		</section>

		<section class="wow post fadeInRight third" data-wow-delay="0.9s" data-wow-offset="50" data-wow-duration="1s">
			<div class="square">				
				<div class="corner-triangle"><span>+</span></div>
				<div class="date"> <span>date</span></div>	
			</div>
			<div class="caption"><span>caption</span><a href="">read more...</a></div>	
		</section>

	</div>
	<span class="stretch"></span>
</div>