<div class="blog">
	<h1 class="title">latest blog posts</h1>
	<div class="posts"> 
		<section class="post blogfadeInUp animated first" data-wow-delay="0.3s" data-wow-offset="50" data-wow-duration="1s">
			<div class="square">
				something
				<div class="corner-triangle"></div>
				<div class="date"> <span>April 25, 2014</span></div>	
			</div>
			<div class="caption">some caption</div>	
		</section>

		<section class="post blogfadeInUp animated second" data-wow-delay="0.3s" data-wow-offset="50" data-wow-duration="1s">
			<div class="square">
				something
				<div class="corner-triangle"></div>
				<div class="date"> <span>April 25, 2014</span></div>	
			</div>
			<div class="caption">some caption</div>	
		</section>

		<section class="post blogfadeInUp animated third" data-wow-delay="0.3s" data-wow-offset="50" data-wow-duration="1s">
			<div class="square">
				something
				<div class="corner-triangle"></div>
				<div class="date"> <span>April 25, 2014</span></div>	
			</div>
			<div class="caption">some caption</div>	
		</section>

	</div>
	<span class="stretch"></span>
</div>