  <div class="contact-float">
    <div class="title-text">
      <span class="title-one">
        expert training<br>
      </span>
      <span class="title-two">
        fits your schedule
      </span>
    </div>
    <div class="contact-image">
      <div class="corner-triangle">
      </div>
      <img src="/images/cycler.png"/>

      <div class="info-overlay">
        <span>
          schedule a free session
        </span>
      </div>
      <div class="green-square">
        <img src="/images/icons/notebook.png"/>
      </div>
    </div>
  </div>

  <div class="form-block">
    <div class="top-rectangle">
      <span>send chad a message</span>
    </div>
    <div class="contact-triangle"></div>
    <div id="thanks" class="thanks"></div>

    {% include contact_form.html %}
  </div> 
  
