<footer class="site-footer"  data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-150">

  <div class="wrapper">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="/images/logofooter.png"/>
      </div>
      <div class="footer-text">
        <div class="footer-links">
            <a class="footer-link" href="">about</a> |
            <a class="footer-link" href="">blog</a> |
            <a class="footer-link" href="">testimonials</a> |
            <a class="footer-link" href="">contact</a> 
        </div>
        <div class="footer-copyright">&copy; {{ site.stylizedurl }}</div>
      </div>
    </div>
  </div>

</footer>
