<header class="site-header">

    <div class="top-bar">
      <div class="wrapper">
        <div class="contact-info">
          <div class="phone-number">{{site.phonenumber}}</div>
          <div class="email">{{site.email}}</div>
        </div>
        <div class="social-links">
          <span>
            <a class="social facebook" href="{{ site.facebookurl }}/">
              <img src="/images/icons/facebook.png" alt="Like our faceook page" />
            </a>
          </span>
          <span>
            <a class="social linkedin" href="{{ site.linkedin }}/">
              <img src="/images/icons/linkedin.png" alt="Checkout my linkedIn" />
            </a>
          </span>
          <span>
            <a class="social rss" href="{{ site.rss }}/">
              <img src="/images/icons/rss.png" alt="Subscribe to my rss feed" />
            </a>
          </span>
          <span>
            <a class="social twitter" href="{{ site.twitter_username }}/">
              <img src="/images/icons/pinterest.png" alt="See pinterest junk" />
            </a></span>
        </div>
      </div>      
    </div>

    <div class="main-image">
      <div class="image-carousel">
        <div id="header-carousel" class="owl-carousel">
          <div><img src="/images/carousel/greyscale.png"/></div>
          <div><img src="/images/carousel/closeup.png" /></div>
          <div><img src="/images/carousel/kick.png" /></div>
        </div>
      </div>
      <nav class="site-nav">
        <div class="wrapper">
          <a class="page-link" href="">ABOUT</a>
          <a class="page-link" href="">BLOG</a>
          <a class="page-link" href="">TESTIMONIALS</a>
          <a class="page-link" href="">CONTACT</a>
        </div>
      </nav>

    </div>

    <div class="name-overlay">
      <div class="title">CHAD MACOMBER</div>
      <div class="subtitle">personalized fitness for your busy life</div>
    </div>





</header>
