<div class="title">checkout some blogs</div>
 <div class="dots">&bull;  &bull;  &bull; </div>
<a href="http://www.bretcontreras.com" target="_blank"><img src="/images/links/bret-contreras.png"/></a>
<a href="http://www.tonygentilcore.com" target="_blank"><img src="/images/links/tony-gentilcore.png"/></a>
<a href="http://www.deansomerset.com" target="_blank"><img src="/images/links/dean-somerset.png"/></a>
<a href="http://www.nicktumminello.com" target="_blank"><img class="nick" src="/images/links/nick-tumminello.png"/></a>