<!-- SLIDER AREA -->

<div class="pm-pulse-container" id="pm-pulse-container">
    
    <div id="pm-slider" class="pm-slider">
        
        <div id="pm-slider-progress-bar"></div>
    
        <ul class="pm-slides-container" id="pm_slides_container">
            
            <!-- FULL WIDTH slides -->
            <li data-thumb="img/slider/1a.jpg" class="pmslide_0"><img src="/images/carousel/kick.png" />
            
            
            </li>
            
            <li data-thumb="img/slider/2a.jpg" class="pmslide_1"><img src="/images/carousel/closeup.png"    />                           
            </li>
            
            <li data-thumb="img/slider/3a.jpg" class="pmslide_2"><img src="/images/carousel/greyscale.png" />
                
                                    
            </li>
                            
        </ul>
       
    </div>
    
    

</div>