<div class="squares">
	
	<section class="square first-square fadeInUp animated first" data-wow-delay="0.3s" data-wow-offset="50" data-wow-duration="1s">
		<div class="icon">
			<img src="images/icons/lifter.png"/>				
		</div>
		<div class="circle"></div>
		<div class="square-text first-square-text"> 
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum fringilla,
		</div>

		<div class="triangle">
			<div class="triangle-text first-triangle-text"> 
				nutrition
			</div>
		</div>	
			
	</section>

	<section class="square second-square fadeInUp animated second" data-wow-delay="0.6s" data-wow-offset="50" data-wow-duration="1s">
		<div class="icon">
			<img src="images/icons/lifter.png"/>				
		</div>
		<div class="circle"></div>
		<div class="square-text second-square-text"> 
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum fringilla,
		</div>
		<div class="triangle">
			<div class="triangle-text second-triangle-text"> 
				nutrition
			</div>	
		</div>
	</section>


	<section class="square third-square fadeInUp animated third" data-wow-delay="0.9s" data-wow-offset="50" data-wow-duration="30s" >
		<div class="icon">
			<img src="images/icons/lifter.png"/>				
		</div>
		<div class="circle"></div>
		<div class="square-text third-square-text"> 
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum fringilla,
		</div>
		<div class="triangle">
			<div class="triangle-text first-triangle-text"> 
				nutrition
			</div>	
		</div>
	</section>

	<span class="stretch"></span>
</div>