/**
 * Site header
 */
.site-header {
    .top-bar {
    	background-color: $dark-blue-background;
    	background-image: url('../images/background.jpg');
    	background-size: 1440px 810px;
    	background-repeat: repeat-x;
    	height: 40px;
    	border-bottom: 1px solid $brand-color; 

    	.contact-info {
    		display: inline;
			.phone-number, .email {
    			font-family: Avenir, Nunito, sans-serif;
    			color: $white-text;
    			font-size: 10px;
    			display: inline;
	    	}
	    	.email {
	    		margin-left: 20px;
	    	}
	    	.icon img {
	    		width: 15px;
	    		height: 15px;
	    		padding-right: 5px;
	    	}
    	}

    	.social-links {
    		display: inline;
    		float: right;
    		font-size: 20px;
    		padding-top: 7px;
    		a {
    			margin-left: 5px;
	    		color: $dark-grey-text;
	    		&:hover {
	    			color: $light-grey-text;
	    			text-decoration: none;	
	    		}    			
    		}
    		
		}	

    	
    }

    .main-image {
    	height: 638px;
    	width: 100%;
    	background-color: $transparent-dark-blue;
    	position: relative;

	    .image-carousel {
	    	width: 100%;
	    	height: 638px;
	    }


	    
    }

	.site-nav.fixed {
		position: fixed;
		top: 0px;

		background-color: $transparent-dark-blue;
		background-color: rgba(15, 25, 38, 0.8);
		height: 70px;
		z-index: 9999;

	  	transition: all 0.3s ease-in;
  		-moz-transition: all 0.3s ease-in;
  		-webkit-transition: all 0.3s ease-in;
		-o-transition: all 0.3s ease-in;

		.links {
			margin-left: 40px;
			@include media-query($on-palm) {
				margin-left: 0px;
			}
			@include media-query($on-tiny) {
		  		margin-top: 15px;
			}

			display: inline-block;

			a {
				font-size: 18px;
				font-style: latothin;
				font-weight: thin;
				margin-left: 40px;

				@include media-query($on-palm) {
					margin-left: 10px;
				}

		  		transition: all 0.3s ease-in;
	  			-moz-transition: all 0.3s ease-in;
  				-webkit-transition: all 0.3s ease-in;
				-o-transition: all 0.3s ease-in;
			}
		}	

		.logo {
			margin-top: 6px;
			width: 150px;

			@include media-query($on-tiny) {
		  		display: none;
			}

			img.large {
				display: none;
			}
			img.small {
				display: inline-block;
			}

			-webkit-transition:width margin-top 0.3s ease-in;
		    -moz-transition:width margin-top 0.3s ease-in; 
			-o-transition:width margin-top 0.3s ease-in; 
			transition:width margin-top 0.3s ease-in;
		}
	}

	.site-nav.big {
		height: 118px;

		@include media-query($on-palm) {
			height: 90px;
		}

	  	transition: height 0.3s ease-in;
  		-moz-transition: height 0.3s ease-in;
  		-webkit-transition: height 0.3s ease-in;
		-o-transition: height 0.3s ease-in;

		.logo {
			margin-top: 20px;

			img.large {
				display: inline-block;
				position: absolute;
				z-index: 9999;
				@include media-query($on-palm) {
					display: none;
				}
			}

			img.small {
				display: none;
				@include media-query($on-palm) {
					display: inline;
					width: 150px;
				}
			}

			-webkit-transition:width margin-top 0.3s ease-in;
		    -moz-transition:width margin-top 0.3s ease-in; 
			-o-transition:width margin-top 0.3s ease-in; 
			transition:width margin-top 0.3s ease-in;
		}

		.links {
			margin-left: 200px;

			@include media-query($on-palm) {
			  display: inline;
			  margin-left: auto;
			}

			@include media-query($on-tiny) {
				display: block;
			}

			a {
				font-size: 38px;
				@include media-query($on-smalltab) {
				  font-size: 20px;
				  margin-left: 15px;
				}
				@include media-query($on-laptop) {
				  font-size: 25px;
				  margin-left: 20px;
				}
				@include media-query($on-tiny) {
			  		font-size: 18px;
			  		margin-left: 10px;
				}
				
		  		transition: all 0.3s ease-in;
	  			-moz-transition: all 0.3s ease-in;
  				-webkit-transition: all 0.3s ease-in;
				-o-transition: all 0.3s ease-in;
			}
		}

	}	

    .site-nav {
	    	position: absolute;
	    	bottom: 0px;
	    	left: 0px;
	    	width: 100%;
	    	border-top: 1px solid $brand-color; 

    		a {
				font-family: "oswald_regularregular";
				margin-left: 30px;
				color: $white-text;
				vertical-align: middle;

				&:hover{
					margin-top: -15px;
					text-decoration: none;
					color: $brand-color;
				}
    		}

    		.logo {
    			display: inline-block;
    		}

    		.wrapper {
    			padding-left: 0px;
    			padding-right: 0px;
    			max-width: $content-width;
    		}

    		background: -moz-linear-gradient(top,  rgba(15,25,38,1) 0%, rgba(0,1,1,0) 98%, rgba(0,0,0,0) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(15,25,38,1)), color-stop(98%,rgba(0,1,1,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(15,25,38,1) 0%,rgba(0,1,1,0) 98%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(15,25,38,1) 0%,rgba(0,1,1,0) 98%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(15,25,38,1) 0%,rgba(0,1,1,0) 98%,rgba(0,0,0,0) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(15,25,38,1) 0%,rgba(0,1,1,0) 98%,rgba(0,0,0,0) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f1926', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	    }


    .name-overlay {
    	.title {
			font-family: "oswald_stencilregular";
    		
    		font-size: 48pt;		
    	}
    	.subtitle {
    		font-family: "latothin";
    		font-weight: thin;
    		font-size: 20pt;
    	}
    	color: $white-text;
    	height: 122px;	  
    	top: 86px;  	
    	margin-left: 55%;
    	background-color: $transparent-dark-blue;
		background-color: rgba(15, 25, 38, 0.7);
    	width: 100%;
    	padding-top: 30px;
    	padding-bottom: 30px;
    	padding-left: 10px;
    	position: absolute;

	    @include media-query($on-palm) {
	    	margin-left: 0px;

	    }
	    @include media-query($on-laptop) {
	    	margin-left: 0px;

	    }
    }


}


/** three squares
**
*/
.three-squares{
	text-align: justify;
	width: $content-width;
	padding-left: 0px;
	padding-right: 0px;
	@include media-query($on-palm) {
		width: auto;
	}
	@include media-query($on-laptop) {
		width: auto;
	}

	.squares {
		padding-top: 175px;
		padding-bottom: 125px;

		.square {
			border: 2px solid $medium-blue;
			border-radius: 40px;
			width: 210px;
			height: 256px;

			padding-top: 37px;
			padding-bottom: 37px;
			padding-left: 20px;
			padding-right: 20px;
			display: inline-block;

			@include media-query($on-palm) {
			  display: block;
			  margin-left: auto;
			  margin-right: auto;
			  margin-top: 50px;
			}

			@include media-query($on-laptop) {
			  display: block;
			  margin-left: auto;
			  margin-right: auto;
			  margin-top: 50px;
			}

			.square-text {
				font-family: Avenir, Nunito, sans-serif;
				font-size: 20px;
				color: $dark-grey-text;
				line-height: 30px;
				text-align: center;
			}
		}

		.icon {
			width: 80px;
			margin: 0 auto;
			img {
				width: 80px;
			}
		}
		.triangle {
			width: 0;
			height: 0;
			border-left: 125px solid white;
			border-right: 125px solid white;
			border-top: 50px solid $brand-color;
			display: block;
			text-align: center;
			margin-top: 30px;
			margin-left: -20px;
		}

		.triangle-text {
		  	position: absolute;
	 		display: block;
			margin-top: -43px;
		  	font-size: 15px;
		  	font-family: Arial;
		  	font-weight: bold;
	  		text-transform: uppercase;
		  	margin-left: -40px;
		  	width: 50px;
		}

		.circle {
			margin: 0 auto;
			width: 8px;
			height: 8px;
			background: #D3D5DA;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			border-radius: 4px;
			margin-top: 25px;
  			margin-bottom: 5px;
		}
	}
}

/**
* Contact section
*/
.contact-full {
	width: 100%;
	background-color: $dark-blue-background;
	background-image: url('../images/background.jpg');
	background-size: 1440px 810px;
	background-repeat: repeat;
	height: 650px;
	background-attachment: fixed;

	.contact-content {
		max-width: 986px;
		height: 100%;

		@include media-query($on-tiny) {
			padding-left: 0px;
			padding-right: 0px;
		}

	}

	.contact-float {
		float: left;
		width: 585px;
		margin-top: 100px;

		@include media-query($on-palm) {
			display: none;
		}

		@include media-query($on-laptop) {
			display: none;
		}


		.title-text {
			text-transform: uppercase;
			.title-one {
				font-family: 'latoregular';
				font-size: 24px;
				color: #4DBA00;
				line-height: 29px;
			}
			.title-two {
				font-family: AbadiMT-CondensedExtraBold, Oswald, Impact;
                                font-weight: bold;
				font-size: 64px;
				color: #FFFFFF;
				line-height: 50px;
			}

		}

		.contact-image {
			width: 585px;
			height: 359px;
			position: relative;

			.corner-triangle {
				width: 0;
				height: 0;
				border-top: 100px solid $brand-color;
				border-left: 100px solid transparent;
				right: 0px;
				position: absolute;
			}

			.info-overlay {
		    	span {
		    		font-family: Avenir, Nunito, sans-serif;
					font-size: 20px;
					text-align: right;
			    	color: $white-text;
			    	float: right;
			    	margin-right: 15px;
			    	margin-top: 8px;

		    	}
	    		position: absolute;
		    	height: 48px;	  
		    	width: 250px;
		    	top: 275px;
		    	right: 0px; 
		    	background-color: $transparent-dark-blue;
				background-color: rgba(15, 25, 38, 0.8);
		    		    	
		    }

		    .green-square {
		    	position: absolute;
		    	top: 295px;
		    	left: 310px;
	    		background-color: $brand-color;
	    		width: 40px;
	    		height: 38px;
	    		img {
					display: block;
	    			width: 20px;    			
	    			margin-left: auto;
	    			margin-right: auto;
	    			margin-top: 6px;
	    		}
	    	}
		}
	}

	.form-block {
		height: 100%;
		width: 315px;

		background-color: $transparent-dark-blue;
		background-color: rgba(15, 25, 38, 0.7);
		float: right;

		@include media-query($on-palm) {
			float: none;
			margin-right: auto;
			margin-left: auto;
		}

		.top-rectangle {
			width: 315px;
			height: 110px;
			background-color: $brand-color;
			text-align: center;
			display: table-cell;
  			vertical-align: middle;
  			border: 1px solid $brand-color;

			span {
				font-family: 'oswald_stencilregular';
				font-size: 30px;
				color: $dark-grey-text;
				line-height: 45px;
			}
		}

		.contact-triangle {
			border-left: 158px solid transparent;
			border-right: 158px solid transparent;
  			border-top: 50px solid $brand-color;
		}

		.thanks, .error {
    		font-family: Avenir, Nunito, sans-serif;
			font-size: 12px;
	    	color: $white-text;
	    	text-align: center;
	    	margin-top: 10px;
	    	visibility: hidden;
    	}

    	.error {
    		color: red;
    	}

		form {
			::-webkit-input-placeholder {
			   color: $dark-grey-text;
			}
			:-moz-placeholder { /* Firefox 18- */
			   color: $dark-grey-text;  
			}
			::-moz-placeholder {  /* Firefox 19+ */
			   color: $dark-grey-text;  
			}
			:-ms-input-placeholder {  
			   color: $dark-grey-text;  
			}

			
			text-align: center;
			.text-field {
				font-family: 'latoregular';
				font-size: 15px;
				line-height: 24px;

				text-align: center;
				width: 222px;
				padding: 10px 10px;
				background-color: transparent;
				border: 1px solid $white-text;
				margin-top: 30px;
				margin-left: auto;
				outline: none;
				color: $white-text
			}
			.text-field:first-child{
				margin-top: 15px;
			}

			textarea {
				height: 130px;	
			}

			input[type=submit] {
				padding:10px 35px; 
				background: $brand-color; 
				border:0 none;
				cursor:pointer;
				-webkit-border-radius: 20px;
				border-radius: 20px; 
				margin-top: 0px;
				margin-bottom: 15px;
				font-size: 14px;
			  	font-family: Arial;
			  	font-weight: bold;
		  		text-transform: uppercase;
			}
		}

	}
}


/**
* Blog
*/

.bar {
	background-color: $transparent-dark-blue;
	background-color: rgba(15, 25, 38, 0.8);
	height: 50px;
	text-align: center;
	font-family: 'latothin';
	font-size: 32px;
	color: $light-blue;
	margin-top: 180px;
}
.blog {
	text-align: center;


	.title {
		font-family: AbadiMT-CondensedExtraBold, Oswald, Impact;
                font-weight: bold;
		font-size: 54px;
		color: $dark-text;
		line-height: 62px;
		text-transform: uppercase;
		margin-top: 10px;
	}

	.posts {
		padding-top: 30px;
		padding-bottom: 125px;

		@include media-query($on-laptop) {
			  padding-left: 100px;
			  padding-right: 100px;
		}

		@include media-query($on-tiny) {
		  padding: 0px;	
		}
		
		.post{
			display: inline-block;
			.square {
				width: 275px;
				height: 275px;
				display: inline-block;
				position: relative;
				background-size: cover;
				background-repeat: no-repeat;
				background-image: url('/images//logofull.png');

				.date {
					background-color: $transparent-dark-blue;
					background-color: rgba(15, 25, 38, 0.8);
					position: absolute;
					right: 0px;
					bottom: 25px;
					padding-left: 15px;
					padding-right: 5px;
		
					span	 {
						font-family: Avenir, Nunito, sans-serif;
						font-size: 20px;
						color: $white-text;
						line-height: 27px;
					}
					
				}
				.corner-triangle {
					width: 0;
					height: 0;
					border-top: 100px solid $brand-color;
					border-left: 100px solid transparent;
					position: absolute;
					right: 0px;
					top: 0px;

					span {
					  position: absolute;
					  top: -130px;
					  left: -53px;
					  font-size: 75px;
					}
				}

			}



			.caption {
				border-top: 4px solid $brand-color;
				width: 275px; 
				height: 120px;
				margin-top: -14px;
				position: relative;
				

				span {
					font-family: AbadiMT-CondensedExtraBold, Oswald, Impact;
                                        font-weight: bold;
					font-size: 24px;
					line-height: 24px;
					color: $dark-text;
					margin-top: 10px;
					display: inline-table;
					text-align: left;
					margin-left: 10px;
					bottom: 0px;
				}

				background: -moz-linear-gradient(top,  rgba(15,25,38,0.52) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(15,25,38,0.52)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(15,25,38,0.52) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(15,25,38,0.52) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(15,25,38,0.52) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(15,25,38,0.52) 0%,rgba(0,0,0,0) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#850f1926', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */


				a {
					font-family: Avenir-Medium, Nunito, sans-serif;
					font-size: 14px;
					color: $dark-grey-text;
					line-height: 19px;
				  	position: absolute;
					bottom: 10px;
					right: 0px;
	
					a:hover {
						color: $brand-color;
					}
				}

			}

		}
	}
}


/**
*testimonials
*/
.testimonial-full {
	width: 100%;
	background-color: $dark-blue-background;
	background-image: url('../images/background.jpg');
	background-size: 1440px 810px;
	background-repeat: repeat;
	height: 329px;
	background-attachment: fixed;
	position: relative;

	.title-text{
		font-family: 'oswald_stencilregular';
		font-size: 64px;
		color: $brand-color;
		line-height: 95px;
		text-align: center;
		
		span {
		  display: inline-block;
		  margin-top: 50px;
		}
	}

	.testimonial-bar {
		background-color: $transparent-dark-blue;
		background-color: rgba(15, 25, 38, 0.8);

		position: absolute; 
		margin-top: 10px;
		width: 100%;
		text-align: center;

		.testimonial {
			font-family: Avenir, Nunito, sans-serif;
			color: #FFFFFF;
			
			.testimonial-title {
				font-size: 36px;
				line-height: 49px;
			}

			.testimonial-author{
				font-size: 23px;
				line-height: 31px;
				font-weight: Lighter;
				text-align: right;
				margin-right: 350px;
			}
		}
	}
}

/**
* Footer
*/
footer {

	background-color: $dark-blue-background;
	background-image: url('../images/background.jpg');
	background-size: 1440px 810px;
	background-repeat: repeat-x;
	height: 288px;
	border-top: 1px solid $brand-color; 
	margin-top: 50px;
	background-attachment: fixed;

	.footer-content {
		width: 280px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 90px;
		
		.footer-logo {
			img {
				width: 103px;
			}
			display: inline-block;
		}
		.footer-text {
			display: inline-block;
			vertical-align: middle;
			margin-top: 20px;
			margin-left: -38px;
			.footer-links, a {
				font-family: Avenir, Nunito, sans-serif;
				font-weight: light;
				font-size: 12px;
				color: $white-text;

				a:hover {
					color: $light-grey-text;
				}
			}

			.footer-copyright {
				font-family: Arial;
				font-weight: bold;
				font-size: 12px;
				color: $light-grey-text;
				margin-left: 20px;
			}
		}

	}

}
