/**
 * Site header
 */
.site-header {
    .top-bar {
    	background-color: $dark-blue-background;
    	background-image: url('../images/background.jpg');
    	background-size: 1440px 810px;
    	background-repeat: repeat-x;
    	height: 40px;
    	border-bottom: 1px solid $brand-color; 

    	.contact-info {
    		display: inline;
			.phone-number, .email {
    			font-family: "Avenir";
    			color: $white-text;
    			font-size: 10px;
    			display: inline;
	    	}
	    	.email {
	    		margin-left: 20px;
	    	}
	    	.icon img {
	    		width: 15px;
	    		height: 15px;
	    		padding-right: 5px;
	    	}
    	}

    	.social-links {
    		display: inline;
    		float: right;
    		font-size: 20px;
    		padding-top: 7px;
    		a {
    			margin-left: 5px;
	    		color: $dark-grey-text;
	    		&:hover {
	    			color: $light-grey-text;
	    			text-decoration: none;	
	    		}    			
    		}
    		
		}	

    	
    }

    .main-image {
    	height: 638px;
    	width: 100%;
    	background-color: $transparent-dark-blue;
    	position: relative;

	    .image-carousel {
	    	width: 100%;
	    	height: 638px;
	    }


	    
    }

	.site-nav.fixed {
		position: fixed;
		top: 0px;
		background-color: $transparent-dark-blue;
		opacity: .8;
		height: 70px;
		z-index: 9999;

	  	transition: all 0.3s;
  		-moz-transition: all 0.3s;
  		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;

		a {
			font-size: 26px;

		  	transition: font-size 0.3s;
	  		-moz-transition: font-size 0.3s;
	  		-webkit-transition: font-size 0.3s;
			-o-transition: font-size 0.3s;

			&:hover{
				margin-top: -15px;
				color: $brand-color;

				-webkit-transition:color margin-top 1s ease-in;
	 		  	-moz-transition:color margin-top 1s ease-in ; 
				-o-transition:color margin-top 1s ease-in ; 
   				transition:color margin-top 1s ease-in ;
			}	


		}
		.logo {
			margin-top: 6px;
			width: 150px;

			-webkit-transition:width margin-top 0.3s ease-in;
		    -moz-transition:width margin-top 0.3s ease-in; 
			-o-transition:width margin-top 0.3s ease-in; 
			transition:width margin-top 0.3s ease-in;
		}
	}	

    .site-nav {
	    	position: absolute;
	    	bottom: 0px;
	    	left: 0px;
	    	width: 100%;
	    	height: 118px;
	    	border-top: 1px solid $brand-color; 

		  	transition: height color 0.3s;
	  		-moz-transition: height color 0.3s;
	  		-webkit-transition: height color 0.3s;
			-o-transition: height color 0.3s;

    		a {
				font-family: "Oswald Regular";
				font-size: 38px;
				margin-left: 30px;
				color: $white-text;


				&:hover{
					margin-top: -15px;
					text-decoration: none;
					color: $brand-color;

					-webkit-transition:color margin-top 1s ease-in;
		 		  	-moz-transition:color margin-top 1s ease-in ; 
					-o-transition:color margin-top 1s ease-in ; 
	   				transition:color margin-top 1s ease-in ;
				}
    		}
    		.logo {
    			display: inline-block;
    			margin-top: 20px;
    		}
    		.wrapper {
    			padding-left: 0px;
    			padding-right: 0px;
    			max-width: $content-width;
    		}
	    	
	    	background: -moz-linear-gradient(top, rgba(15,25,38,0.65) 0%, rgba(0,1,1,0) 98%, rgba(0,0,0,0) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(15,25,38,0.65)), color-stop(98%,rgba(0,1,1,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(15,25,38,0.65) 0%,rgba(0,1,1,0) 98%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(15,25,38,0.65) 0%,rgba(0,1,1,0) 98%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(15,25,38,0.65) 0%,rgba(0,1,1,0) 98%,rgba(0,0,0,0) 100%); /* IE10+ */
			background: linear-gradient(to bottom, rgba(15,25,38,0.65) 0%,rgba(0,1,1,0) 98%,rgba(0,0,0,0) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a60f1926', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

	    }


    .name-overlay {
    	.title {
			font-family: "Oswald Stencil";
    		font-weight: bold;    
    		font-size: 48pt;		
    	}
    	.subtitle {
    		font-family: "Lato";
    		font-weight: thin;
    		font-size: 20pt;
    		line-height: 5px;
    	}
    	color: $white-text;
    	height: 122px;	  
    	top: 86px;  	
    	margin-left: 55%;
    	background-color: $transparent-dark-blue;
    	opacity: .7;
    	width: 100%;
    	padding-top: 30px;
    	padding-bottom: 30px;
    	padding-left: 10px;
    	position: absolute;
    }


}